_ReSharper.Caches/
.hg/
.vs/
.hgignore
code/Backup/
code/UpgradeLog.htm
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*/**/obj/project.assets.json
*/**/obj/project.nuget.cache
*.csproj.user
